html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow:hidden ; /* Evita rolagem indesejada */
    margin-bottom: 8vh;
}

* {
    box-sizing: border-box;
}

#fotoloja {
width: 28vw;
    height: 28vw;
    min-width: 90px;
    min-height: 90px;
    max-width: 200px;   /* Limite máximo */
    max-height: 200px;  /* Limite máximo */
    object-fit: cover;
    margin-top: 5vh;
    position: relative;
    z-index: 2;
}

.foto-loja-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

}

#banner-loja {
    width: 100%;
    height: 30vw; /* ajuste a altura do banner */
    background: url('../../../../imagens/banner.png') center center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


#editar-perfil-loja {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.custom-file-label {
    display: inline-block;
    padding: 1.2vh 4.4vw;
    background: #5b4766;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

label[for="input-banner-loja"] {
    position: relative;
    z-index: 2;
    margin-top: 2vh;
}

#input-foto-loja,
#input-banner-loja {
    display: none;
}


#telaloja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;

}

#divsalvar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.2vh;
    gap: 2vw;
}

#divitens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.2vh;
}

.inputs {
    font-size: 2.2vh;
    display: block;
    padding: 15px 0 10px 0;
    margin: 0 auto 20px auto;
    width: 60vw;
    max-width: 200px;
    box-sizing: border-box;
    background: none;
    border: none;
    border-bottom: 1px solid #9a7f98;
    color: #5b4766;
    outline: none;
    border-radius: 0;
}

textarea.inputs {
    color: #5b4766;
}


/* Ajuste para tablets e telas maiores */
@media (min-width: 600px) {
    .inputs {
        width: 90vw;
        font-size: 16px;
        padding: 2.1vh 0 1.5vh 0;
    }
    #fotoloja {
        width: 45vw;
    }
    #salvar, #botao-itens {
        font-size: 20px;
        padding-left: 8.5vw;
        padding-right: 8.5vw;
    }
}


#salvar {
    width: 40% ;
    min-width: 120px;
    max-width: 200px;
    margin-top: 0;
    text-align: center;
border-radius: 12px;
    background-color: #5b4766;
    color: white;
    border: none;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 2.5vh;
}

#botao-itens {

    background: linear-gradient(135deg, #f6e6fe, #d8c2e0, #bfa0c9);
    font-size: 2.5vh;
    width: 40%;
    min-width: 120px;
    max-width: 200px;
    height: 100%;
border-radius: 12px;
    background-color: #f6e6fe;
    color: #5b4766;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: none;
}