html{
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    position: relative;
}


.botoesnosso {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    margin-bottom:0px;
    justify-content: center;
    width: 85vw;
    height: 15vh;
    box-sizing: border-box;
    font-size: 30px;
    background-color: #f6e6fe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#botaoquem, #botaocontato, #botaopoliticas{
 margin-bottom: 4vh;
}

#botaoquem {
    margin-top: 5vh;
}

/*#botaocontato {}*/

#divlogo{
    background-color: #f6e6fe; 
    border-radius: 50%;
    padding: 3vh;
    border: 4px solid #d1c0f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logoprincipal {
    width: 12vw;
    min-width: 120px;

}

.botoesnosso i {
    font-size: 10vh;
    margin-right: 2vw;
    margin-left: 0;
    color: #5b4766; 
}

.botoesnosso span {
    flex: 1;
    text-align: left;
    color: #5b4766 ;
}

.esconder {
    display: hidden;
}

#popup {
    display: block;
    background-color: #5b4766;
    width: 80vw;
    margin: auto;
    position: relative;
    height: 40vh;
}


