body{
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  display: block;
  justify-content: center;
  align-items: center;
}

#tab_bar {
    display: flex;
    position: fixed;
    width: 100%;
    background:#F9FFF7 ;
    bottom: 0;
    border: none;
    height: 8vh;
    border-top: 3px solid #ffffff;
}

iframe {
    display: block;
    height:98vh;
    border: none;
    margin-bottom: 6vh;
    width: 100%;
    overflow: hidden;
}

#tab_bar button {
    flex: 1;
    padding: 1.2vh 2.4vw;
    border: none;
    color: #2E6B2F;
    background: none;
    font-size: 2vh;
}

.conteudo-do-app {
    display: block;
    height:100%;
    border: none;
    margin-bottom: 50px;
    width: 100%;
    border-bottom-left-radius: 10px;
}

#tab_bar2{
    width: 100%;
    top: 0;
    display: flex;
    height: 7vh;
}

#tab_bar2 button {
    flex: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E6B2F;
    padding: 1.2vh 2.4vh;
}

.barradepesquisa input {
padding: 0.5em 1em;
font-size: 1em;
border: none;
border-radius: 20px;;
padding-left: 5vw;
}

.perfil, .perfil img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
}

#barra-superior {
    display: flex;
    position: relative;
    width: 100vw;
    height: 6vh;
    background: #F9FFF7;
    color:  #2E6B2F;
}

#icone-chat {
    position: absolute;
    font-size: 4vh;
    top: 0.5vh;
    left: 2vw;
    color: #2E6B2F;
    cursor: pointer;
}

#icone-conta {
    position: absolute;
    font-size: 4vh;
    top: 0.5vh;
    right: 2.2vw;
    bottom: 1.2vh;
}

#label1 {
    display: none;
    position: absolute;
}

 #barra-superior-esquerda{
    position: relative;
    width: 100%;
    height: 100%;
 }

 /* nomes dos botões da tab*/

#dis-inicio{
    font-size: 1.5vh;
    display: block;
    margin-top: -7px;
}

 #dis-localizar{
    font-size: 1.5vh;
    display: block;
    margin-top: -0.5em;
}

#dis-pedidos{
      font-size: 1.5vh;
    display: block;
    margin-top: -0.5em;
}

#dis-menu{
  font-size: 1.5vh;
    display: block;
    margin-top: -0.5em;
}

/*Icones dos Botões*/

.mdi-leaf, .mdi-clipboard-text, .mdi-menu{
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    margin: 0;
    color: #2E6B2F;
}

/*caixas dos icones*/

.mdi-leaf,
.mdi-menu,
.mdi-clipboard-text {
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    margin: 0;
    color: #2E6B2F;
}

.caixa-ativa {
    background-color: #2E6B2F;
    border-radius: 10px;
    height: 6vh;
}

.caixa-ativa label,
.caixa-ativa i {
    color: #F9FFF7 !important;
}

 #caixa-localizar, #caixa-pedidos, #caixa-menu{
   margin: auto;
}

#sacola{
    height: 0.25vh;
    width: auto;
}

#icone-caixaentrada {
    margin-left: 10vw;
    font-size: 2.5em;
    color: #2E6B2F;
    cursor: pointer;
    transition: color 0.15s;
}