*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  margin: 0 ;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  height: 100dvh;
  width: 100%;
  padding-top: 200px;
overflow: hidden;
display: flex;
justify-content: center;
background: linear-gradient( to bottom, #faf3fe, #f3dfff);
align-items: center;
position: relative;
}

#imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#logoachai{
  width: 170px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-top: 20px;
}

#botao_entrada{
padding-left: 46px;
padding-right: 46px;
padding-top: 15px;
padding-bottom: 15px;
margin-bottom: 5px;
font-size: 15px;
border-radius: 27px;
margin-top: 30px;
color: #f6e6fe;  
margin-left: 30px;  
margin-right: 30px;
background: #8624b7;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
backdrop-filter: blur(15px);
outline: none;
-webkit-tap-highlight-color: transparent;
text-decoration: none;
display: block;
border: none;
}

#botao_criar_conta{
padding-left: 26px;
padding-right: 26px;
padding-top: 15px;
padding-bottom: 15px;
margin-bottom: 30px;
border-radius: 27px;
font-size: 15px;
margin-top: 10px;
background: #5b4766; 
color: #f6e6fe;
margin-left: 30px;
margin-right:30px;
border: none;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
backdrop-filter: blur(15px);
-webkit-tap-highlight-color: transparent;
outline: none;
text-decoration: none;
text-align: center;
}

input{
display: block;
margin: 0 auto;
margin-bottom: 5px;  
margin: 25px;  
margin-left: 30px;
margin-right: 30px;
padding: 10px;
padding-left: 0px;
color: #5b4766;
border: none;
background: transparent;
border-bottom: 1px solid  #5b4766;;
outline: none;
}

#dados .dados1 label { 
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 15px;
  color: #5b4766;
  pointer-events: none;
  transition: 0.3s;
  margin-left: 30px;
}

.dados1{
  position: relative;
}

#dados .dados1 input:focus + label,
#dados .dados1 input:valid + label {
top: -10px;
font-size: 14px;
color: #2d2232;
}

#botoes {
  justify-content: center;
  justify-items: center;
}


.tela-de-login{

  background: #f6e5fe;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: absolute;
  max-height: 100%;
  margin: 0 auto;
  top: 160px;
  padding-left: 0;
}

.subir {
animation: slideUp 0.7s forwards ease-in-out;
}

.descer {
animation: slideDown 0.7s forwards ease-in-out;
}

@keyframes slideUp {
from { transform: translateY(0); }
to { transform: translateY(-30%); }
}

@keyframes slideDown {
from { transform: translateY(-30%);}
to { transform: translateY(0); }
}

@keyframes slideIn {
from { transform: translateX(0); }
to { transform: translateX(-200%); }
}

@keyframes fadeBody {
from {background: linear-gradient( to bottom, #faf3fe, #f3e7fa); }
to { background: rgb(255, 255, 255); }
}

.sair {
animation: slideIn 0.7s forwards ease-in-out;
}

.bodyFade {
animation: fadeBody 3s forwards ease-in-out;
}

#telaBranca {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  z-index: 9999;
  pointer-events: none;
}

.telaBrancaIr {
  animation: fadeToWhite 1s forwards ease-in-out;
}

@keyframes fadeToWhite {
  from { opacity: 0; }
  to { opacity: 1; }
}

.mdi-eye{
  position: absolute;
  right: 35px;
  top: 7px;
  outline: none;
  font-size: 20px;
  color: #5b4766;
  background: transparent;
}

.mdi-eye-off{
  position: absolute;
  right: 35px;
  top: 7px;
  font-size: 20px;
  outline: none; 
  color: #5b4766;
  background: transparent;
}

