body{
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}



#tela{
    margin-top: 10dvh;
    width: 100vw;
    height: 80vh;
}


#selo {
    background: #f6e6fe;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 2px 8px #0001;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:2vh ;
    padding-top: 2vh;
    width: 85vw;
    height: 22vh;
    padding-left: 3vw;
    padding-right: 3vw;
    box-sizing: border-box;
    color: #5b4766;

}
#selo .linha-baixo {
    display: flex;
    align-items: center;
    gap: 4vw;
    margin-top: 0px;
    width: 100%;    
    justify-content: center;
    
    
}


#selo .linha-cima {
    margin-top: 1.5vh;
    font-size: 2rem;
    
}

#seloimg {
    width: 10vh;
    height: auto;
    margin-top: 1.1vh ;
}
#patente {
    margin: 0;
    font-size: 5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#descarte {
    height: 15%;
    margin-top: 2.1vh;
    color: #5b4766;
    font-size: 5vh;
}


#descarteicon {
    font-size: 10vh;
    padding: 2vh 4vw;
    color: #5b4766;
  
}

#anuncio{
    margin-top: 2.1vh;
    color: #5b4766;
    font-size: 5vh;
}

#anuncioicon {
    padding: 2vh 4vw;
    font-size:10vh ;
    color: #5b4766;
}

.bloco-texto1 {
    padding-left: 1.1vh;
    padding-right: 1.1vh;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* Centraliza verticalmente */        
    margin: auto;
    width: 85vw;
    height: auto;
    background: #f6e6fe;
    border-radius: 10px;
    box-shadow: 0 2px 8px #0001;
    font-size: 1.2em;
}
