body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background: #fff;
}

.slider {
  position: relative;
  width: 100%;
  height: 25vh;
  padding-top: 35px;
  padding-bottom: 25px;
  overflow: hidden;
  touch-action: pan-y;
}

.slides {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  box-sizing: border-box;
  padding-left: 0;
}

.slide {
  flex: 0 0 70%;
  margin-right: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  /* Melhor renderização */
  backface-visibility: hidden;
  will-change: transform;
  transform-style: preserve-3d;
}


.pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.pagination span {
  width: 12px;
  height: 12px;
  background:   #dac3e5;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
}

.pagination span.active {
  background:#8624b7;
}

#tela1{
    background: #75e658;
}

#tela2{
    background: #8624b7;
}

#tela3{
    background: #75e658;
}