html,
body,
#map {
    height: 90vh;
    margin: 0;
    padding: 0;
}

#icone-off{
    display: none;
    top: 25%;
    position: relative;
    height: 50%;
    width: 50%;
    margin: auto;
}

.mdi-wifi-off{
    font-size: 200px;
}