*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow: hidden;
}

#imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#logoachai{
  width: 170px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

body{
  margin: 0 ;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  height: 100dvh;
  width: 100%;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient( to bottom, #faf3fe, #f3e7fa);
position: relative;
}


.telacriarconta {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  padding: 10px;
  background: #f6e5fe;
  border-radius: 20px;
  transition: 1s;
  animation: slideUp 0.5s forwards ease-in-out;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  
}

 
@keyframes slideUp { 
from { transform: translateX(100%); }
to { transform: translateX(0%); }
}

.sair {
animation: slideIn 0.5s forwards ease-in-out;
}

@keyframes slideIn {
from { transform: translateX(0); }
to { transform: translateX(-200%); }
}


 #olho1 {
  color: #5b4766;
  position: absolute;
  top: 15px;
  right: 34.5px;


}
 #olho2 {
  color: #5b4766;
  top: 15px;
  position: absolute;
  right: 34.5px;
  
}

 #dados1 ,#dados2,#dados3, #dados4{
  display: flex;
  position: relative;
}

input {
  font-size: 13px;
  display: block;
  padding: 15px;
  padding-bottom: 10px;
  padding-left: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 190px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #9a7f98;
  color: #9a7f98;
}

#senha2{
  margin-bottom: 5px;
}

.labels{
  color: #5b4766;
  position: absolute;
  left: 25px;
  top: 15px;
  transition: 0.3s;
  pointer-events: none;
  -webkit-transition: 0.3s;
}

#dados #dados1 input:focus + label,
#dados #dados1 input:valid + label, 
#dados #dados2 input:focus + label,
#dados #dados2 input:valid + label, 
#dados #dados3 input:focus + label,
#dados #dados3 input:valid + label, 
#dados #dados4 input:focus + label,
#dados #dados4 input:valid + label {
  top: -10px;
color: #2d2232;
}



#botaocriar {
  background: #8624b7;
  margin-right:50px ;
  margin-left: 50px ;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 15px;


  border-radius: 20px;
  display: block;
color: #f6e6fe;
}



.caixa-selecao{
  transition: 1s;
  display: flex;
  padding-top: 7px;
  padding-bottom: 3px;
  padding-left: 5px;
  width: 190px;
  margin: auto;
  margin-top: 10px;
  background: #5b4766;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.278);
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

#selecoes{
    width: 130px;
    padding: 2px;
    padding-left: 4px;
    color: #2d2232;
    font-size: 15px;
color: #f6e6fe;
}

.mdi-chevron-down{
      margin-bottom: 20px;
      padding: 0.5px;
      padding-left: 22px;
      font-size: 25px;
color: #f6e6fe;
}

#categoria-selecao{
  text-align:left;
}

.opcoes{
  display: none;
  list-style-type: none;
  width: 190px;
  margin: auto;
  padding-left: 9px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #5b4766;
  color: #f6e6fe;
  border-top: 1px solid #f6e6fe;
  
}

#opcao2{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.caixa-selecao.aberta {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.caixa-sele{
  transition: 1s;

}